header{

 background: #BBBBBB;
 padding: 20px 0;
}

.logo{

   width: 900px;
   position: relative;
   margin: 0 auto;
}

nav{

 position: absolute;
 right: 25%;
 top: 110px;
}

.cabelo{

 padding: 0 20px;
}Vitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1BVitor Natal 1B
